<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find controllers)/config/planar_2dof_control_unit4_PD.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
	output="screen" ns="/planar_2dof" args="joint_state_controller
					  joints_position_controller "/>          

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
	respawn="false" output="screen">
    <remap from="/joint_states" to="/planar_2dof/joint_states" />
  </node>

</launch>
